footer {
    z-index: 4;
    height: 32px;
    padding: 8px 0;
    width: 100vw;
    background-color: brown;
    position: absolute;
    top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#костиль {
    height: 48px;
}